* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

.main-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}
header {
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.todo-form,
.edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.todo-form h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.edit-form h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
  gap: 0.3rem;
}
#cancel-btn {
  margin-top: 1rem;
}

.toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.toolbar h4 {
  margin-bottom: 0.5rem;
}
.search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.search-form {
  display: flex;
}
.search input {
  width: 100%;
  margin-right: 0.3rem;
}
#todo-list {
  display: flex;
  flex-direction: column;
}
.filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}
#filter-select {
  flex: 1;
}
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}
.todo h2 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}
.done {
  background: #395169;
}

.done h2 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}
@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center top;
  }
}
