* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

.main-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center top;
  }
}
